flows-18.json
[
    {
        "id": "f9410472d1556fca",
        "type": "tab",
        "label": "V3 Sensor UI",
        "disabled": true,
        "info": ""
    },
    {
        "id": "5fa713c8c6e9d24b",
        "type": "switch",
        "z": "f9410472d1556fca",
        "name": "",
        "property": "payload.sensor_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "80",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "0f826ea31f4451da",
                "0d4f344354e713f0"
            ]
        ]
    },
    {
        "id": "353404783f188be4",
        "type": "ui_text_input",
        "z": "f9410472d1556fca",
        "name": "",
        "label": "Input Estimated Motor Speed(HZ)",
        "tooltip": "",
        "group": "12381b8d4c173d69",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "34f7013ee4f55643"
            ]
        ]
    },
    {
        "id": "34f7013ee4f55643",
        "type": "change",
        "z": "f9410472d1556fca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "41d7510d806fbfb6",
        "type": "ui_gauge",
        "z": "f9410472d1556fca",
        "name": "Motor Health Guage",
        "group": "12381b8d4c173d69",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Health",
        "label": "",
        "format": "",
        "min": "10",
        "max": "2",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#77bb41"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f826ea31f4451da",
        "type": "function",
        "z": "f9410472d1556fca",
        "name": "",
        "func": "msg1 = {};\nmsg1.payload = msg.payload.sensor_data.odr;\n\nmsg2 = {};\n\nx_multi = msg.payload.sensor_data.x_peak_one_Hz/flow.get(\"speed\");\ny_multi = msg.payload.sensor_data.y_peak_one_Hz/flow.get(\"speed\");\n\nmsg2.payload = x_multi+y_multi;\n\nmsg3 = {};\nmsg3.payload = msg.payload.sensor_data.x_peak_one_Hz;\n\nmsg4 = {};\nmsg4.payload = msg.payload.sensor_data.temperature;\n\nmsg5 = {};\nmsg5.payload = msg.payload.sensor_data.x_peak_one_Hz;\n\nreturn [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "d67b8ce284aee40f"
            ],
            [
                "41d7510d806fbfb6"
            ],
            [
                "3814c78ad6088a87"
            ],
            [
                "f76239066589ce6e"
            ],
            [
                "b8eb839dc9e339ac"
            ]
        ]
    },
    {
        "id": "d67b8ce284aee40f",
        "type": "ui_text",
        "z": "f9410472d1556fca",
        "group": "12381b8d4c173d69",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor ODR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "0d4f344354e713f0",
        "type": "debug",
        "z": "f9410472d1556fca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "3814c78ad6088a87",
        "type": "ui_text",
        "z": "f9410472d1556fca",
        "group": "12381b8d4c173d69",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estimated Motor Speed(Hz)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "f76239066589ce6e",
        "type": "ui_text",
        "z": "f9410472d1556fca",
        "group": "12381b8d4c173d69",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}°C",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "fce3fbef76b3ecc5",
        "type": "remote-access",
        "z": "f9410472d1556fca",
        "confignode": "e1495b3a310a4bcf",
        "name": "Test",
        "verbose": 0,
        "x": 530,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e71d45fdade06d2f",
        "type": "remote-notification",
        "z": "f9410472d1556fca",
        "confignode": "e1495b3a310a4bcf",
        "name": "",
        "notificationTitle": "Motor Notification",
        "notificationTitleType": "str",
        "notificationBody": "payload",
        "notificationBodyType": "msg",
        "notificationSound": "success",
        "notificationSoundComputed": "payload.sound",
        "notificationSoundComputedType": "msg",
        "output": 1,
        "x": 1090,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b8eb839dc9e339ac",
        "type": "switch",
        "z": "f9410472d1556fca",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "72",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "4536708bc7feb6b4"
            ]
        ]
    },
    {
        "id": "4536708bc7feb6b4",
        "type": "change",
        "z": "f9410472d1556fca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"RPM:\"& msg.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 460,
        "wires": [
            [
                "e71d45fdade06d2f"
            ]
        ]
    },
    {
        "id": "ee4a8f528e8a2747",
        "type": "ncd-gateway-node",
        "z": "f9410472d1556fca",
        "name": "",
        "connection": "",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "5fa713c8c6e9d24b"
            ]
        ]
    },
    {
        "id": "12381b8d4c173d69",
        "type": "ui_group",
        "name": "Motor Monitor",
        "tab": "c46cac594b280d2d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e1495b3a310a4bcf",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "6lxiaihvb5v5jc0vgs02t2pgkyz30c6cci7gh4fitx2zjajkhldimyrs6pby7iey",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "c46cac594b280d2d",
        "type": "ui_tab",
        "name": "Motor Monitor",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]